<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
<link rel="shortcut icon" href="/images/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
<link rel="manifest" href="/images/favicon/site.webmanifest" />
<title><%= (page.title ? page.title + ' | ' : '') %><%= config.title %><%= (config.subtitle ? ' ' + config.subtitle : '') %></title>
<% if (config.description) { %>
<meta name="description" content="<%= config.description %>">
<% } %>
<%
  var palettes = palette_list ? palette_list() : [],
    defaultKey = theme.palette_selector ? theme.palette_selector.default : null,
    defaultPalette = null;
  if (palettes.length) {
    if (defaultKey) {
      defaultPalette = palettes.find(function (p) { return p.key === defaultKey });
    }
    if (!defaultPalette) {
      defaultPalette = palettes[0];
    }
  }
  var defaultFile = defaultPalette ? defaultPalette.file : 'abyssal-blue.css';
%>
<link id="palette-css" rel="stylesheet" href="<%= url_for('/css/palettes/' + defaultFile) %>">
<link rel="stylesheet" href="<%= url_for('/css/base.css') %>">
<script src="<%= url_for('/js/encrypted-post.js') %>"></script>